<!-- <form (ngSubmit)="login()">
    <input type="text" 
           name="uname" 
           [(ngModel)]="login_details.uname">
    <br><br>
    <input type="password" 
           name="upwd" 
           [(ngModel)]="login_details.upwd">
    <br><br>
    <input type="submit">
</form> -->



<!-- <div *ngIf="true;else elseBlock">
  this is true block
</div>
<ng-template #elseBlock>
   this is false block
</ng-template> -->

<!-- <div *ngIf="true;then thenBlock;else elseBlock"></div>
<ng-template #thenBlock>
    Hello
</ng-template>
<ng-template #elseBlock>
   Welcome
</ng-template> -->



<h1>{{var_nine | slice:1:-2}}</h1>
<h1>{{var_nine | slice:1:-1}}</h1>
<h1>{{var_nine | slice:1}}</h1>
<h1>{{var_nine | slice:1:4}}</h1>
<h1>{{var_nine | slice:1:3}}</h1>
<h1 style="color: magenta">{{var_eigth | percent}}</h1>
<h1>{{var_seven | number:'4.1-3'}}</h1>
<h1>{{var_seven | number:'3.1-4'}}</h1>
<h1>{{var_seven | number:'3.1-3'}}</h1>
<h1 style="color: lightcoral">{{var_six | json}}</h1>
<h2 style="color: lightblue">{{var_five | date:'fullDate'}}</h2>
<h2 style="color: lightblue">{{var_five | date:'medium'}}</h2>
<h2 style="color: lightblue">{{var_five | date:'short'}}</h2>
<h2 style="color: lightblue">{{var_five | date:'MM-dd-yyyy'}}</h2>
<h2 style="color: lightblue">{{var_five | date:'dd-MM-yy'}}</h2>
<h2 style="color: lightblue">{{var_five}}</h2>
<h1 style="color: indianred">{{var_four | currency:"EUR"}}</h1>
<h1 style="color: indianred">{{var_four | currency:"GBP"}}</h1>
<h1 style="color: rgb(135, 92, 205)">{{var_four | currency:"INR"}}</h1>
<h1 style="color: indianred">{{var_four | currency}}</h1>
<h1 style="color: hotpink">{{var_three | titlecase}}</h1>
<h1 style="color: red">{{var_one | uppercase}}</h1>


















<h1 style="color: green">{{var_two | lowercase}}</h1>

















